.sidebar-container {
  height: 91.5vh;
  width: 40vw;
  position: fixed;
  right: 0;
  top: 100px;
  background: #67727e;
  transition: transform 1s;
  text-align: center;
  overflow: scroll;
  z-index: 2;
  /* border-left: 2px solid #67727e;
  border-right: 2px solid #67727e; */
}

.show {
  transform: translateX(0);
}

.hide {
  transform: translateX(40vw);
}

.sidebar-container:active {
  transition: transform 2s;
}

#market-header {
  margin-bottom: 15px;
  color: #fff;
  background-color: #67727e;
  padding-top: 15px;
  padding-bottom: 15px;
}
