.footer {
  z-index: 9;
  display: flex;
  position: absolute;
  bottom: 0%;
  justify-content: center;
  background: #67727e;
  height: 60px;
  width: 100%;
  padding-top: 20px;
  color: #fff;
}

h1 {
  padding: 0.25rem;
  color: white;
  text-align: center;
}

.githubIcon {
  height: 25px;
  width: 25px;
  margin: 0.25rem;
  padding: 0.25rem;
}
.copyright {
  font-size: 0.8em;
  color:#fff;
}

.copyright a{
  color:#fff;
}
