
.todo-container{
    position: fixed;
    top: 100px;
    right: 0;
    width: 40vw;
    /* height: 40vh; */
    z-index: 1;
    /* background-color: white; */
    height:100%;
    background:#dce0e6;
}


.form-container{
    padding: 10px;

}

.main-star-container{
    display: flex;
    flex-wrap: wrap;


}

.form-item-stars{
    padding: 10px 10px;
}

.add-buttons{
    margin-left: 10%;
    padding: 10px;
}
