.to-do-item-chore {
  /* color: red; */
  list-style:none;
  z-index: 1;
}
p {
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}
.complete-button{
  position: flex;
  float: left;
}

.todo-description{
  font-size: 1em;
}

.todo-border{
  border: 1px solid #ddd;
}


.MuiExpansionPanelSummary-root-232{
  padding: 0 0px 0 24px;
}